{% extends 'base.html' %}
{% block content %}
<!-- Form -->
<div class='home'>
    <div class='container'>
        <div class='upload'>
            <!-- Janhavi's shit XD -->
            <form class='upload_form' action="/upload_vid" method="POST">
                <p style="color: #ffbb33; font-size: 28px;">Upload a video</p>
                <input class='upload_button' type="submit" value="Upload">
            </form>
            <!-- Janhavi's shit ends XD-->
        </div>
    </div>
</div>
{% endblock %}
